

<div class="block">
    <!-- Messages List Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a data-original-title="Settings" href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-cog"></i></a>
        </div>
        <h2>Core of Contents <small><a href="{{ url('menu.create_newsfeed') }}">Create New Newsfeed</a></small></h2>
    </div>
    <!-- END Messages List Title -->

    <!-- Messages List Content -->
    <div class="table-responsive">
        <table class="table table-hover table-vcenter">
            <thead>
            <tr>
                <td>Subject</td>
                <td>Created At</td>

                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <!-- Use the first row as a prototype for your column widths -->
            {% for newsfeed in newsfeed_paginator %}
            <tr>
                <td>
                    {% if newsfeed.publish %}
                    <span class="label label-info">Active</span>
                    {% else %}
                    <span class="label label-default">Hidden</span>
                    {% endif %}
                    <a href="{{ url('link.edit_newsfeed' , {'id':newsfeed.id}) }}"><strong>{{ newsfeed.subject }}</strong></a>
                    <span class="text-muted"></span>
                </td>

                <td class="text-right"><em>{{ time_diff(newsfeed.createdAt) }}</em></td>
                <td><a href="{{ url('link.remove_newsfeed' , {'id':newsfeed.id}) }}">Remove</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(newsfeed_paginator) }}

    </div>
    <!-- END Messages List Content -->
</div>