<section class="page-content">
<div class="container">

<div class="row">
<div class="content col-md-10">

    {% for post in newsfeed %}
    <!-- Post (Standard Format) -->
    {% if post.attachment | length %}
    <article class="entry entry__standard">
        <div class="row">
            <div class="col-md-4">
                <figure class="alignnone entry-thumb">
                    <a href="{{ url('app_news_post' , {'id':post.id}) }}">
                        <img src="{{ asset(post.attachment[0].getFullPath) }}" alt="">
                    </a>
                </figure>
            </div>
            <div class="col-md-8">
                <header class="entry-header">
                    <h2><a href="{{ url('app_news_post' , {'id':post.id}) }}">{{ post.subject }}</a></h2>
                    <div class="entry-meta">
                        <span class="entry-date">{{ post.createdAt | date('d/m/Y') }}</span>
                        {% if is_granted('ROLE_ADMIN') %}
                        <span class="entry-comments"><a href="{{ url('link.edit_newsfeed' , {'id':post.id}) }}">Edit</a></span>
                        {% endif %}
                        <span class="entry-category">in <a href="#">{{ time_diff(post.createdAt) }}</a></span>

                    </div>
                </header>
                <div class="excerpt">
                    {{ post.content | drop_blank | striptags | truncate(150) | raw }}
                </div>
            </div>
        </div>
    </article>
    <!-- Post (Standard Format) / End -->
    {% else %}
        <!-- Post (Standard Format) -->
        <article class="entry entry__standard">
            <header class="entry-header">
                <h2><a href="{{ url('app_news_post' , {'id':post.id}) }}">{{ post.subject }}</a></h2>
                <div class="entry-meta">
                    <span class="entry-date">{{ post.createdAt | date('d/m/Y') }}</span>
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="entry-comments"><a href="{{ url('link.edit_newsfeed' , {'id':post.id}) }}">Edit</a></span>
                    {% endif %}
                    <span class="entry-category">in <a href="#">{{ time_diff(post.createdAt) }}</a></span>
                </div>
            </header>
            <div class="excerpt">
                {{ post.content | striptags | truncate(300) | raw }}
            </div>
        </article>
        <!-- Post (Standard Format) / End -->
    {% endif %}

    {% endfor %}




    <div class="text-center">
        {{ knp_pagination_render(newsfeed) }}
    </div>
</div>

<aside class="sidebar col-md-2 col-md-offset-2 col-bordered">


</aside>
</div>

</div>
</section>