<div class="container" style="margin-top: 40px;">

    <div class="row">

        <div class="col-md-6">
            <hr class="visible-sm visible-xs lg">
            <div class="title-accent">
                <h3>Our lessons</h3>
            </div>
            <div class="list scala">
                <ul>
                    {% for lesson in lessons %}
                        <li>{{ lesson.subject }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="title-accent">
                <h3>Lesson Materials</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <figure class="alignnone">
                        <img src="http://makoto.local/assets/images/jle.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header text-center">
        <h1>{{ 'lesson.materials_download' | trans | raw }}</h1>
    </div>

    <div class="row">
    {% for key , lesson in lessons %}
        <div class="col-md-6">
        <div style="animation-delay: 200ms;" class="icon-box circled animation fadeInUp animation-visible" data-animation="fadeInUp" data-animation-delay="200">
            <div class="icon">
                <i class="fa fa-book"></i>
                <i class="fa fa-book bg-icon"></i>
            </div>
            <div class="icon-box-body">
                <h4>{{ lesson.subject }}</h4>
                <p>{{ lesson.description | raw }}</p>

                {% if lesson.attachment | length %}
                <div class="list">
                    <hr/>
                    <p>Materials download :</p>
                    <ul class="scala">
                        {% for attachment in lesson.attachment %}
                            <li><a href="{{ asset( attachment.getFullPath) }}">{{ attachment.file }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        </div>

        {% if key % 2 %}
        </div>

        <div class="row">
        {% endif %}

    {% endfor %}
    </div>

        {{ knp_pagination_render(lessons) }}


</div>