<section class="page-content">
    <div class="container">
        <div class="row" align="center">
            <div class="col-md-12">

                {% set block_1 = vector('basic-structure') %}

                <div class="title">
                    <h2>{{ block_1.subject }}</h2>
                </div>
                <p>
                    {{ block_1.content | raw }}
                </p>

            </div>
        </div>
    </div>
</section>

<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            <!-- SLIDE #1  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="8000" >

                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="0"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <img height="100%"  src="/assets/images/huan.png" alt="Stability" />
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="15"
                     data-y="center" data-voffset="-170"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1500"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#ktw"><img height="100%"  src="{{ 'global.ktw' | trans | raw }}" alt="Stability" /></a>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="180"
                     data-y="center" data-voffset="100"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2000"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="{{ url('app_front_service') }}"><img height="100%"  src="{{ 'global.jle' | trans | raw }}" alt="Stability" /></a>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="-160"
                     data-y="center" data-voffset="100"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2500"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#kca"><img height="100%"  src="{{ 'global.kca' | trans | raw }}" alt="Stability" /></a>
                </div>

            </li>
        </ul>
    </div>
</div>

<!-- Page Content -->
<section class="page-content">
    <div class="container">
        <div class="row" id="ktw">
            <div class="col-md-8">
                <div id="kcaBtn" class="call-to-action" data-animation="fadeInDown">
                    <div class="cta-txt">
                        {% set block_2 = vector('kaizen-consulting-activities') %}
                        <div class="title">
                            <h2>
                                {{ block_2.subject }}
                            </h2>
                        </div>
                        <p>
                                {{ block_2.content | raw }}
                        </p>
                    </div>
                    <div class="cta-btn">
                        <img alt="Stability" src="{{ 'global.ktw' | trans | raw }}" >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% set block_3 = vector('brad-schmidts-quote') %}
                <blockquote class="testimonial" data-animation-delay="0" data-animation="bounce">

                    {{ block_3.content | raw }}
                    <img alt="Stability" src="/assets/images/hyh.jpg" >
                </blockquote>
                <div class="bq-author">
                    <h6>
                        {{ block_3.subject | raw }}
                    </h6>
                    <span class="bq-author-info">
                        {{ 'global.president' | trans | raw }}
                    </span>
                </div>
            </div>
        </div>

        <hr class="lg">

        <div class="row scala">
            <div class="col-md-6" align="center">
                <img alt="Stability" src="/assets/images/lean-time.png" width="100%">
            </div>
            <div class="col-md-3">
                {% set block_4 = vector('global-ability') %}
                <h4>
                    {{ block_4.subject }}
                </h4>
                <div class="list">
                    {{ block_4.content | raw }}
                </div>
            </div>
            <div class="col-md-3">
                {% set block_5 = vector('practice-what-you-preach') %}
                <h4>
                    {{ block_5.subject }}
                </h4>
                <div class="list">
                    {{ block_5.content | raw }}
                </div>
            </div>
            <div class="col-md-3">
                {% set block_6 = vector('experience-in-kaizen-and-the-toyota-production-system') %}
                <h4>
                    {{ block_6.subject }}
                </h4>
                <div class="list">
                    {{ block_6.content | raw }}
                </div>
            </div>
        </div>

        <hr class="lg"  />

        <div class="row scala">
            <div class="col-md-12">
                <!-- Table (Bordered) -->

                <div class="title text-center">
                    <h2>{{ 'global.a_typical' | trans | raw }}</h2>
                </div>

                <div class="table-responsive">
                    <table class="table  table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'global.d1' | trans | raw }}</th>
                            <th>{{ 'global.d2' | trans | raw }}</th>
                            <th>{{ 'global.d3' | trans | raw }}</th>
                            <th>{{ 'global.d4' | trans | raw }}</th>
                            <th>{{ 'global.d5' | trans | raw }}</th>
                            <th>{{ 'global.d6' | trans | raw }}</th>
                            <th>{{ 'global.d7' | trans | raw }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">{{ 'global.am' | trans | raw }}</td>
                            <td rowspan="2"></td>
                            <td></td>
                            <td class="active">{{ 'global.t1' | trans | raw }}</td>
                            <td class="active">{{ 'global.t2' | trans | raw }}</td>
                            <td class="active">{{ 'global.t3' | trans | raw }}</td>
                            <td></td>
                            <td rowspan="3" class="success">{{ 'global.t4' | trans | raw }}</td>
                        </tr>
                        <tr>
                            <td class="active">{{ 'global.t5' | trans | raw }}</td>
                            <td rowspan="2" class="warning">{{ 'global.t6' | trans | raw }}</td>
                            <td class="warning">{{ 'global.t7' | trans | raw }}</td>
                            <td rowspan="2" class="warning">{{ 'global.t8' | trans | raw }}</td>
                            <td class="active">{{ 'global.t9' | trans | raw }}</td>
                        </tr>
                        <tr>
                            <td class="active">{{ 'global.t10' | trans | raw }}</td>
                            <td class="warning">{{ 'global.t11' | trans | raw }}</td>
                            <td class="warning">{{ 'global.t12' | trans | raw }}</td>
                            <td class="warning">{{ 'global.t13' | trans | raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'global.lunch' | trans | raw }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="3">{{ 'global.pm' | trans | raw }}</td>
                            <td class="danger">{{ 'global.t14' | trans | raw }}</td>
                            <td class="danger">{{ 'global.t15' | trans | raw }}</td>
                            <td class="active">{{ 'global.t16' | trans | raw }}</td>
                            <td rowspan="2" class="danger">{{ 'global.t17' | trans | raw }}</td>
                            <td class="active">{{ 'global.t18' | trans | raw }}</td>
                            <td class="active">{{ 'global.t19' | trans | raw }}</td>
                            <td rowspan="2" class="active">{{ 'global.t20' | trans | raw }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="success">{{ 'global.t21' | trans | raw }}</td>
                            <td class="active">{{ 'global.t22' | trans | raw }}</td>
                            <td class="danger">{{ 'global.t23' | trans | raw }}</td>
                            <td class="danger">{{ 'global.t24' | trans | raw }}</td>
                            <td class="danger">{{ 'global.t25' | trans | raw }}</td>
                        </tr>
                        <tr>

                            <td class="success">{{ 'global.t26' | trans | raw }}</td>
                            <td class="success">{{ 'global.t27' | trans | raw }}</td>
                            <td class="success">{{ 'global.t28' | trans | raw }}</td>
                            <td class="success">{{ 'global.t29' | trans | raw }}</td>
                            <td class="success">{{ 'global.t30' | trans | raw }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="warning">{{ 'global.t34' | trans | raw }}</td>
                            <td colspan="2" class="active">{{ 'global.t31' | trans | raw }}</td>
                            <td colspan="2" class="danger">{{ 'global.t32' | trans | raw }}</td>
                            <td colspan="2" class="success">{{ 'global.t33' | trans | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Table (Bordered) / End -->
            </div>

        </div>

        <hr class="lg" />

        <div class="row scala">

            <div class="col-md-6">
                <div class="title">
                    <h2>{{ 'global.area_of_focus_on_this_tour' | trans | raw }}</h2>
                </div>
                <img src="/assets/images/tokyo.png">
            </div>
            <div class="col-md-6">

                {% set block_8 = vector('a-typical-day') %}
                <div class="title">
                    <h2>{{ block_8.subject }}</h2>
                </div>
                <div class="list">
                    {{ block_8.content | raw }}
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <h4>{{ 'global.p1' | trans | raw }}</h4>
                <img src="/assets/images/see.jpg">
            </div>
            <div class="col-md-3">

                <img src="/assets/images/share.jpg">
                <h4 style="padding-top:15px;">{{ 'global.p2' | trans | raw }}</h4>
            </div>
            <div class="col-md-3">
                <h4>{{ 'global.p3' | trans | raw }}</h4>
                <img src="/assets/images/ask.jpg">
            </div>
            <div class="col-md-3">

                <img src="/assets/images/exp.jpg">
                <h4 style="padding-top:15px;">{{ 'global.p4' | trans | raw }}</h4>
            </div>

        </div>

        <hr class="lg" />

        <div class="row scala">
            <div class="title">
                <h2 class="text-center">{{ 'global.the_value_of_makotos_jle' | trans | raw }}</h2>
            </div>
            <div class="col-md-3">
                {% set block_9 = vector('the-value-of-makotos-jle-creating-the-connections-part-1') %}
                <div class="list">
                    {{ block_9.content | raw }}
                </div>
            </div>
            <div class="col-md-1" align="center" style="font-size:40px; padding-top:40px;">
                +
            </div>
            <div class="col-md-3">
                {% set block_10 = vector('the-value-of-makotos-jle-creating-the-connections-part-2') %}
                <div  class="list">
                    {{ block_10.content | raw }}
                </div>
            </div>
            <div class="col-md-1" align="center" style="font-size:40px;padding-top:40px;">
                =
            </div>
            <div class="col-md-4">
                {% set block_11 = vector('the-value-of-makotos-jle-creating-the-connections-part-3') %}
                <div class="list">
                    {{ block_11.content | raw }}
                </div>
            </div>

        </div>

        <hr class="lg" />

        <div id="ktwBtn" class="call-to-action scala" data-animation="fadeInDown">
            <div class="row" id="kca">

                <div class="col-md-8">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>
                                {{ 'global.training_workshops' | trans | raw }}
                            </h2>
                        </div>
                        {% set block_12 = vector('kaizen-training-workshops-fundamental-workshops') %}
                        <strong>{{ block_12.subject }}:</strong>
                        <div class="list">
                            {{ block_12.content | raw }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% set block_13 = vector('kaizen-training-workshops-certification-programs') %}
                        <strong>{{ block_13.subject }}:</strong>
                        <div class="list">
                            {{ block_13.content | raw }}
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="cta-btn">
                        <img src="{{ 'global.kca' | trans | raw }}">
                    </div>
                </div>
            </div>
        </div>


        <hr class="lg" />

        <div class="row scala">
            <div class="col-md-8" data-animation="fadeInLeft" style="padding-top:160px">
                {{ 'global.long_text' | trans | raw }}
            </div>
            <div class="col-md-4" data-animation="fadeInRight" align="center">
                <img src="/assets/images/courageous-leader.jpg" width="100%">
            </div>
        </div>

        <hr class="lg" />
        <div class="title">
            <h2 align="center">{{ 'global.4_options_to_learn_by_doing' | trans | raw }}</h2>
        </div>
        <div class="row">
            <div class="pricing-table">
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="0">
                        <header class="pricing-head">
                            <h3>{{ 'global.training1' | trans | raw }}</h3>
                            <span class="price">5-15</span>
                            <h4>{{ 'global.days' | trans | raw }}</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="{{ url('app_front_service') }}#Consulting_1">{{ 'global.learn_more' | trans | raw }}</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="300">
                        <header class="pricing-head">
                            <h3>{{ 'global.training2' | trans | raw }}</h3>
                            <span class="price">5-45</span>
                            <h4>{{ 'global.days' | trans | raw }}</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="{{ url('app_front_service') }}#Consulting_2">{{ 'global.learn_more' | trans | raw }}</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="600">
                        <header class="pricing-head">
                            <h3>{{ 'global.training3' | trans | raw }}</h3>
                            <span class="price">30-120</span>
                            <h4>{{ 'global.days' | trans | raw }}</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="{{ url('app_front_service') }}#Consulting_3">{{ 'global.learn_more' | trans | raw }}</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="900">
                        <header class="pricing-head">
                            <h3>{{ 'global.training4' | trans | raw }}</h3>
                            <span class="price">120-365</span>
                            <h4>{{ 'global.days' | trans | raw }}</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="{{ url('app_front_service') }}#Consulting_4">{{ 'global.learn_more' | trans | raw }}</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>


        <hr class="lg" />
        <div class="title">
            <h2 align="center">{{ 'global.unique_solutions_to_the_market_place' | trans | raw }}</h2>
        </div>
        <div class="row" align="center">
            <div class="col-md-4" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/net.jpg">
                <p>{{ 'global.p5' | trans | raw }}</p>
            </div>
            <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="0">
                <img src="/assets/images/success.jpg">
                <p>{{ 'global.p6' | trans | raw }}</p>
            </div>
            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <img src="/assets/images/zz.jpg">
                <p>{{ 'global.p7' | trans | raw }}</p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/puzzle.jpg">
                <p>{{ 'global.p8' | trans | raw }}</p>
            </div>
            <div class="col-md-4"  data-animation="fadeInUp" data-animation-delay="0">
                <img src="/assets/images/twi.jpg">
                <p>{{ 'global.p9' | trans | raw }}</p>
            </div>
            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <img src="/assets/images/leadershop.jpg">
                <p>{{ 'global.p10' | trans | raw }}</p>
            </div>
            <div class="col-md-12" data-animation="fadeInUp" data-animation-delay="0">
            </div>
        </div>

        <hr class="lg" />


        <div class="row" align="center">
            <div class="title">
                <h2>{{ 'global.main_business_sectors' | trans | raw }}</h2>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/production.png" width="100%">
                <p>{{ 'global.production_assembly' | trans | raw }}</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="200">
                <img src="/assets/images/retail.png" width="100%">
                <p>{{ 'global.retail' | trans | raw }}</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400">
                <img src="/assets/images/process.png" width="100%">
                <p>{{ 'global.process_construction' | trans | raw }}</p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/care.png" width="100%">
                <p>{{ 'global.health_care' | trans | raw }}</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="200">
                <img src="/assets/images/service.png" width="100%">
                <p>{{ 'global.service' | trans | raw }}</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400">
                <img src="/assets/images/finance.png" width="100%">
                <p>{{ 'global.finance' | trans | raw }}</p>
            </div>
        </div>


<hr class="lg" />

<!-- Page Content -->
<section class="page-content">
<div class="container">
<div class="title">
    <h2 class="text-center">{{ 'global.experience_in' | trans | raw }}</h2>
</div>
    {% include "AppFrontBundle:Default:global/client_show.html.twig" %}
</div>
</section>


</div>
</section>
<!-- Page Content / End -->