<section class="page-content">
    <div class="container">
        <div class="row" align="center">
            <div class="col-md-12">

                {% set block_1 = vector('basic-structure') %}
                <div class="title">
                    <h2>{{ block_1.subject }}</h2>
                </div>
                <p>
                    {{ block_1.content | raw }}
                </p>

            </div>
        </div>
    </div>
</section>

<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            <!-- SLIDE #1  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="8000" >

                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="0"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <img height="100%"  src="/assets/images/huan.png" alt="Stability" />
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="15"
                     data-y="center" data-voffset="-170"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1500"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#ktw"><img height="100%"  src="/assets/images/ktw.png" alt="Stability" /></a>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="180"
                     data-y="center" data-voffset="100"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2000"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#jle"><img height="100%"  src="/assets/images/jle.png" alt="Stability" /></a>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="center" data-hoffset="-160"
                     data-y="center" data-voffset="100"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2500"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#kca"><img height="100%"  src="/assets/images/kca.png" alt="Stability" /></a>
                </div>

            </li>
        </ul>
    </div>
</div>

<!-- Page Content -->
<section class="page-content">
    <div class="container">
        <div class="row" id="ktw">
            <div class="col-md-8">
                <div id="kcaBtn" class="call-to-action" data-animation="fadeInDown">
                    <div class="cta-txt">
                        {% set block_2 = vector('kaizen-consulting-activities') %}
                        <div class="title">
                            <h2>
                                {{ block_2.subject }}
                            </h2>
                        </div>
                        <p>
                                {{ block_2.content | raw }}
                        </p>
                    </div>
                    <div class="cta-btn">
                        <img alt="Stability" src="/assets/images/ktw.png" >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% set block_3 = vector('brad-schmidts-quote') %}
                <blockquote class="testimonial" data-animation-delay="0" data-animation="bounce">

                    {{ block_3.content | raw }}
                    <img alt="Stability" src="/assets/images/hyh.jpg" >
                </blockquote>
                <div class="bq-author">
                    <h6>
                        {{ block_3.subject | raw }}
                    </h6>
                    <span class="bq-author-info">
                        President
                    </span>
                </div>
            </div>
        </div>

        <hr class="lg">

        <div class="row scala">
            <div class="col-md-6" align="center">
                <img alt="Stability" src="/assets/images/lean-time.png" width="100%">
            </div>
            <div class="col-md-3">
                {% set block_4 = vector('global-ability') %}
                <h4>
                    {{ block_4.subject }}
                </h4>
                <div class="list">
                    {{ block_4.content | raw }}
                </div>
            </div>
            <div class="col-md-3">
                {% set block_5 = vector('practice-what-you-preach') %}
                <h4>
                    {{ block_5.subject }}
                </h4>
                <div class="list">
                    {{ block_5.content | raw }}
                </div>
            </div>
            <div class="col-md-3">
                {% set block_6 = vector('experience-in-kaizen-and-the-toyota-production-system') %}
                <h4>
                    {{ block_6.subject }}
                </h4>
                <div class="list">
                    {{ block_6.content | raw }}
                </div>
            </div>
        </div>

        <hr class="lg"  />

        <div class="row scala">
            <div class="col-md-12">
                <!-- Table (Bordered) -->

                <div class="title text-center">
                    <h2>A Typical "customized" JLE Tour!</h2>
                </div>

                <div class="table-responsive">
                    <table class="table  table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Day 1 Sunday</th>
                            <th>Day 2 Monday</th>
                            <th>Day 3 Tuesday</th>
                            <th>Day 4 Wednesday</th>
                            <th>Day 5 Thursday</th>
                            <th>Day 6 Friday</th>
                            <th>Day 7 Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">AM</td>
                            <td rowspan="2"></td>
                            <td></td>
                            <td class="active">Transfer to Yamaguchi</td>
                            <td class="active">Bus</td>
                            <td class="active">Transfer to Osaka</td>
                            <td></td>
                            <td rowspan="3" class="success">Visit Kyoto</td>
                        </tr>
                        <tr>
                            <td class="active">Transfer to Kyushu</td>
                            <td rowspan="2" class="warning">Tour Car Seat Company</td>
                            <td class="warning">Tour Plastic Parts Factory</td>
                            <td rowspan="2" class="warning">Tour Metal Tools Company</td>
                            <td class="active">Bus</td>
                        </tr>
                        <tr>
                            <td class="active">Shinkansen (Bullet Train)</td>
                            <td class="warning">Tour Toyota</td>
                            <td class="warning">Tour Construction Company</td>
                            <td class="warning">Tour Sheet Metal Machining Company</td>
                        </tr>
                        <tr>
                            <td>Lunch</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="3">PM</td>
                            <td class="danger">Orientation</td>
                            <td class="danger">Discussion Lean Principles</td>
                            <td class="active">Transfer to Hiroshima</td>
                            <td rowspan="2" class="danger">Bus & Discussion</td>
                            <td class="active">Bus</td>
                            <td class="active">Bus</td>
                            <td rowspan="2" class="active">To Airport</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="success">Dinner</td>
                            <td class="active">Shinkansen</td>
                            <td class="danger">Discussion</td>
                            <td class="danger">Discussion / Application Exercise</td>
                            <td class="danger">Wrap-Up</td>
                        </tr>
                        <tr>

                            <td class="success">Dinner</td>
                            <td class="success">Dinner</td>
                            <td class="success">Dinner</td>
                            <td class="success">Dinner</td>
                            <td class="success">Bus / Dinner</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="warning">Company Tours</td>
                            <td colspan="2" class="active">Transportation</td>
                            <td colspan="2" class="danger">Discussion</td>
                            <td colspan="2" class="success">Relaxation</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Table (Bordered) / End -->
            </div>

        </div>

        <hr class="lg" />

        <div class="row scala">

            <div class="col-md-6">
                <div class="title">
                    <h2>Area of focus on this tour!</h2>
                </div>
                <img src="/assets/images/tokyo.png">
            </div>
            <div class="col-md-6">

                {% set block_8 = vector('a-typical-day') %}
                <div class="title">
                    <h2>{{ block_8.subject }}</h2>
                </div>
                <div class="list">
                    {{ block_8.content | raw }}
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <h4>See LEAN up close!</h4>
                <img src="/assets/images/see.jpg">
            </div>
            <div class="col-md-3">

                <img src="/assets/images/share.jpg">
                <h4 style="padding-top:15px;">Share your LEAN experience.</h4>
            </div>
            <div class="col-md-3">
                <h4>See LEAN up close!</h4>
                <img src="/assets/images/ask.jpg">
            </div>
            <div class="col-md-3">

                <img src="/assets/images/exp.jpg">
                <h4 style="padding-top:15px;">Experience the LEAN journey!</h4>
            </div>

        </div>

        <hr class="lg" />

        <div class="row scala">
            <div class="title">
                <h2 class="text-center">The Value of Makoto’s JLE & Creating The Connections</h2>
            </div>
            <div class="col-md-3">
                {% set block_9 = vector('the-value-of-makotos-jle-creating-the-connections-part-1') %}
                <div class="list">
                    {{ block_9.content | raw }}
                </div>
            </div>
            <div class="col-md-1" align="center" style="font-size:40px; padding-top:40px;">
                +
            </div>
            <div class="col-md-3">
                {% set block_10 = vector('the-value-of-makotos-jle-creating-the-connections-part-2') %}
                <div  class="list">
                    {{ block_10.content | raw }}
                </div>
            </div>
            <div class="col-md-1" align="center" style="font-size:40px;padding-top:40px;">
                =
            </div>
            <div class="col-md-4">
                {% set block_11 = vector('the-value-of-makotos-jle-creating-the-connections-part-3') %}
                <div class="list">
                    {{ block_11.content | raw }}
                </div>
            </div>

        </div>

        <hr class="lg" />

        <div id="ktwBtn" class="call-to-action scala" data-animation="fadeInDown">
            <div class="row" id="kca">

                <div class="col-md-8">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>
                                Training Workshops
                            </h2>
                        </div>
                        {% set block_12 = vector('kaizen-training-workshops-fundamental-workshops') %}
                        <strong>{{ block_12.subject }}:</strong>
                        <div class="list">
                            {{ block_12.content | raw }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% set block_13 = vector('kaizen-training-workshops-certification-programs') %}
                        <strong>{{ block_13.subject }}:</strong>
                        <div class="list">
                            {{ block_13.content | raw }}
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="cta-btn">
                        <img src="/assets/images/kca.png">
                    </div>
                </div>
            </div>
        </div>


        <hr class="lg" />

        <div class="row scala">
            <div class="col-md-8" data-animation="fadeInLeft" style="padding-top:160px">
                <strong>A lot of operational improvement efforts fail not because of lack of knowledge but because of a lack of leadership at the front line level, i.e. the person in charge of 5 to 10 people. </strong>
            </div>
            <div class="col-md-4" data-animation="fadeInRight" align="center">
                <img src="/assets/images/courageous-leader.jpg" width="100%">
            </div>
        </div>

        <hr class="lg" />
        <div class="title">
            <h2 align="center">4 Options To Learn By Doing </h2>
        </div>
        <div class="row">
            <div class="pricing-table">
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="0">
                        <header class="pricing-head">
                            <h3>Kaizen Focused Activities</h3>
                            <span class="price">5-15</span>
                            <h4>Days</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="http://makotoglobal.com/m/consulting">learn more</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="300">
                        <header class="pricing-head">
                            <h3>Kaizen Events</h3>
                            <span class="price">5-45</span>
                            <h4>Days</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="http://makotoglobal.com/m/consulting">learn more</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="600">
                        <header class="pricing-head">
                            <h3>Kaizen Projects</h3>
                            <span class="price">30-120</span>
                            <h4>Days</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="http://makotoglobal.com/m/consulting">learn more</a>
                        </footer>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan" data-animation="flipInY" data-animation-delay="900">
                        <header class="pricing-head">
                            <h3>Kaizen Transformations</h3>
                            <span class="price">120-365</span>
                            <h4>Days</h4>
                        </header>
                        <div class="pricing-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <footer class="pricing-footer">
                            <a class="btn btn-primary" href="http://makotoglobal.com/m/consulting">learn more</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>


        <hr class="lg" />
        <div class="title">
            <h2 align="center">Unique Solutions to the Market Place </h2>
        </div>
        <div class="row" align="center">
            <div class="col-md-4" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/net.jpg">
                <p>Provide Interim or Transitional Personnel for Operational Excellence Support</p>
            </div>
            <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="0">
                <img src="/assets/images/success.jpg">
                <p>How Japan Works – becoming a successful Ex-Pat in Japan</p>
            </div>
            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <img src="/assets/images/zz.jpg">
                <p>Top line Kaizen (Sales and Growth) </p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/puzzle.jpg">
                <p>Lean in R&D / Engineering / Finance</p>
            </div>
            <div class="col-md-4"  data-animation="fadeInUp" data-animation-delay="0">
                <img src="/assets/images/twi.jpg">
                <p>Certification in TWI -Training Within Industries</p>
            </div>
            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <img src="/assets/images/leadershop.jpg">
                <p>Becoming a successful Lean Leader (Gemba Core & E2E) </p>
            </div>
            <div class="col-md-12" data-animation="fadeInUp" data-animation-delay="0">
            </div>
        </div>

        <hr class="lg" />


        <div class="row" align="center">
            <div class="title">
                <h2>Main Business Sectors</h2>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/production.png" width="100%">
                <p>Production / Assembly</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="200">
                <img src="/assets/images/retail.png" width="100%">
                <p>Retail</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400">
                <img src="/assets/images/process.png" width="100%">
                <p>Process / Construction</p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="0">
                <img src="/assets/images/care.png" width="100%">
                <p>Health Care</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="200">
                <img src="/assets/images/service.png" width="100%">
                <p>Service</p>
            </div>
            <div class="col-md-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400">
                <img src="/assets/images/finance.png" width="100%">
                <p>Finance</p>
            </div>
        </div>


<hr class="lg" />

<!-- Page Content -->
<section class="page-content">
<div class="container">
<div class="title">
    <h2 class="text-center">Experience in many fields…</h2>
</div>
    {% include "AppFrontBundle:Default:global/client_show.html.twig" %}
</div>
</section>


</div>
</section>
<!-- Page Content / End -->