
<!-- Messages List Block -->
<div class="block">
<!-- Messages List Title -->
<div class="block-title">
    <div class="block-options pull-right">
        <a data-original-title="Settings" href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-cog"></i></a>
    </div>
    <h2>Core of Contents <small><a href="{{ url('menu.create_content') }}">Create New Content</a></small></h2>
</div>
<!-- END Messages List Title -->

<!-- Messages List Content -->
<div class="table-responsive">
    <table class="table table-hover table-vcenter">

    <tbody>
    <!-- Use the first row as a prototype for your column widths -->
    {% for content in content_paginator %}
    <tr>
        <td>
            <span class="label label-info">{{ content.catalog }}</span>
            <a href="{{ url('link.admin_edit_by_id' , {'id':content.id}) }}"><strong> {{ content.subject }}</strong></a>
            <span class="text-muted"></span>
        </td>
        <td>{{ content.vector }}</td>
    </tr>
    {% endfor %}
    </tbody>

    </table>

    {{ knp_pagination_render(content_paginator) }}
</div>
<!-- END Messages List Content -->
</div>
<!-- END Messages List Block -->