<section class="page-content">
<div class="container">
<div class="row">
    <div class="col-md-6">
        <figure class="alignnone">
            <img alt="" src="/assets/images/samples/img2.jpg">
        </figure>
    </div>
    <div class="col-md-6">

        {% set block_1 = vector('about-us') %}
        <div class="title-accent">
            <h3 id="timeline"><span>{{ block_1.subject }}</span></h3>
        </div>

        <span class="description scala">

            {{ block_1.content | raw }}

        </span>
    </div>
</div>



<hr class="lg">

<div class="title-accent text-center">
    <h3 id="timeline">
        {{ 'title.our_team' | trans | raw }}
    </h3>
</div>

<ul class="team-list row">
    {% for key , member in teams %}

        {% if (key+1)%5 == 0 %}

        </ul><ul class="team-list row">

        {% endif %}
    <li class="team-item col-md-3">
        {% if member.attachment %}
        <figure class="alignnone">
            <img alt="" src="{{ member.attachment.getFullPath }}">
        </figure>
        {% endif %}
        <header class="team-head">
            <span class="team-head-info"></span>
            <h4 class="team-name">{{ member.name }}</h4>
            <ul class="team-social list-unstyled">
                <li>
                    <i class="fa fa-envelope-o"></i><a href="mailto:{{ member.email }}">{{ member.email }}</a>
                </li>
            </ul>
        </header>
                <span class="description">
                    {{ member.profile | raw }}
                </span>
    </li>
    {% endfor %}
</ul>

<hr class="lg">

<div class="row scala">
    <div class="title-accent" align="center">
        <h3 id="timeline">{{ 'title.corporate_history' | trans | raw }}</h3>
    </div>

    <ul class="timeline">

        {% for h in history %}
        <li {% if h.putRight %}class="timeline-inverted"{% endif %}>
            <div class="timeline-badge info">
                {{ h.year }}



            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    {% if h.eventAt %}
                        {{ h.eventAt | date('m-d') }}
                    {% endif %}

                    {{ h.event | drop_p | drop_br | raw }}
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>

</div>
<!-- time line end -->

<hr class="lg">

<div class="row scala">
    <div class="title-accent" align="center">
        <h3>{{ 'title.global_reach' | trans | raw }}</h3>
    </div>


    <div class="col-md-12" align="center">
        <img src="/assets/images/global-map.png" width="100%" alt="">
    </div>
    <div class="col-md-2">
        <div class="list">
            <ul>
                <li>{{ 'countries.Australia' | trans | raw }}</li>
                <li>{{ 'countries.Canada' | trans | raw }}</li>
                <li>{{ 'countries.China' | trans | raw }}</li>
                <li>{{ 'countries.Czech_Republic' | trans | raw }}</li>
                <li>{{ 'countries.Denmark' | trans | raw }}</li>
                <li>{{ 'countries.Egypt' | trans | raw }}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="list">
            <ul>
                <li>{{ 'countries.Ethiopia' | trans | raw }}</li>
                <li>{{ 'countries.France' | trans | raw }}</li>
                <li>{{ 'countries.Germany' | trans | raw }}</li>
                <li>{{ 'countries.India' | trans | raw }}</li>
                <li>{{ 'countries.Indonesia' | trans | raw }}</li>
                <li>{{ 'countries.Japan' | trans | raw }}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="list">
            <ul>
                <li>{{ 'countries.Kenya' | trans | raw }}</li>
                <li>{{ 'countries.Macau' | trans | raw }}</li>
                <li>{{ 'countries.Malaysia' | trans | raw }}</li>
                <li>{{ 'countries.Netherlands' | trans | raw }}</li>
                <li>{{ 'countries.Poland' | trans | raw }}</li>
                <li>{{ 'countries.Serbia' | trans | raw }}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="list">
            <ul>
                <li>{{ 'countries.Singapore' | trans | raw }}</li>
                <li>{{ 'countries.Slovakia' | trans | raw }}</li>
                <li>{{ 'countries.South_Africa' | trans | raw }}</li>
                <li>{{ 'countries.Taiwan' | trans | raw }}</li>
                <li>{{ 'countries.Thailand' | trans | raw }}</li>
                <li>{{ 'countries.United_Arab_Emirates' | trans | raw }}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="list">
            <ul>
                <li>{{ 'countries.United_Kingdom' | trans | raw }}</li>
                <li>{{ 'countries.United_States' | trans | raw }}</li>
            </ul>
        </div>
    </div>

</div>


</div>
</section>