<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ 'meta.title' | trans | raw }}</title>
    <meta name="Keywords" content="{{ 'meta.keywords' | trans | raw }}">
    <meta name="Description" content="{{ 'meta.description' | trans | raw }}">
    <link rel="stylesheet" href="{{ asset('tpl/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('tpl/css/fonts/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('tpl/vendor/owl-carousel/owl.carousel.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('tpl/vendor/owl-carousel/owl.theme.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('tpl/vendor/magnific-popup/magnific-popup.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('tpl/vendor/rs-plugin/css/settings.css') }}" media="screen">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="{{ asset('tpl/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('tpl/css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('tpl/css/animate.min.css') }}">
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('tpl/css/skins/blue.css') }}">
    <!-- Makoto CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/makoto.css') }}">
    <!-- Head Libs -->
    <script src="{{ asset('tpl/vendor/modernizr.js') }}"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ asset('tpl/vendor/rs-plugin/css/settings-ie8.css') }}" media="screen">
    <script src="{{ asset('html5.js') }}"></script>
    <script src="{{ asset('tpl/vendor/respond.min.js') }}"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="{{ asset('tpl/css/ie.css') }}">
    <![endif]-->
    <link rel="stylesheet" media="screen,projection" href="{{ asset('assets/back/css/ui.totop.css') }}" />
    <link rel="apple-touch-icon" href="{{ asset('tpl/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('tpl/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('tpl/images/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('tpl/images/apple-touch-icon-144x144.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

<!-- Header -->
<header class="header header header-top-colored menu-colored">

    <div class="header-top">
        <div class="container">
            <div class="header-top-right">
				<span class="register">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('menu.home_page') }}">{{ 'front.admin' | trans | raw }}</a>
                        {% else %}
						    <a href="{{ url('fos_user_security_login') }}">{{ 'front.login' | trans | raw }}</a>
                        {% endif %}
				</span>
            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container">
            <!-- Logo -->
            <div class="logo">


                <a href="{{ url('app_front_homepage') }}">
                    <img alt="Makoto Global Offical Website" src="{{ asset("image.logo" | trans | raw) }}" />
                </a>

            </div>
            <!-- Logo / End -->

            <button type="button" class="navbar-toggle">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Navigation -->
            <nav class="nav-main">
                <ul data-breakpoint="992" class="flexnav">
                    <li class="active"><a href="{{ url('app_front_homepage') }}">{{ 'front.makoto_dna' | trans | raw }}</a>
                        <ul>
                            <li><a id="roll1Btn" href="{{ url('app_front_homepage') }}#roll1">{{ 'front.the_meaning_of_makoto' | trans | raw }}</a></li>
                            <li><a id="roll2Btn" href="{{ url('app_front_homepage') }}#roll2">{{ 'front.the_makoto_way' | trans | raw }}</a></li>
                        </ul>
                    </li>

                    <li class="active"><a href="{{ url('app_front_makotoglobal') }}">{{ 'front.makoto_global' | trans | raw }}</a>
                        <ul>
                            <li><a id="ktwBtn" href="{{ url('app_front_makotoglobal') }}#ktw">{{ 'front.kaizen_training_workshops' | trans | raw }}</a></li>
                            <li><a id="kcaBtn" href="{{ url('app_front_makotoglobal') }}#kca">{{ 'front.kaizen_consulting_activities' | trans | raw }}</a></li>
                            <li><a href="{{ url('app_front_investments') }}">{{ 'front.investments' | trans | raw }}</a></li>
                        </ul>
                    </li>

                    <li class="active"><a href="{{ url('app_front_service') }}">{{ 'front.services' | trans | raw }}</a>
                        <ul>
                            <li><a id="jle2Btn" href="{{ url('app_front_service') }}#jle2">{{ 'front.japan_lean_experience' | trans | raw }}</a></li>
                            <li><a id="conBtn" href="{{ url('app_front_service') }}#con">{{ 'front.consulting' | trans | raw }}</a></li>
                            <li><a id="leaBtn" href="{{ url('app_front_service') }}#lea">{{ 'front.learning' | trans | raw }}</a></li>
                            <li><a id="othBtn" href="{{ url('app_front_service') }}#oth">{{ 'front.other_services' | trans | raw }}</a></li>
                        </ul>
                    </li>

                    <li >
                        <a href="{{ url('app_news') }}">{{ 'front.news' | trans | raw }}</a>
                    </li>

                    <li >
                        <a href="{{ url('app_front_contact') }}">{{ 'front.contact' | trans | raw }}</a>
                    </li>
                </ul>
            </nav>
            <!-- Navigation / End -->
        </div>
    </div>
</header>

{% block heading %}
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{% block heading_title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}

{% endblock %}

<!-- Footer -->
<footer class="footer" id="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- Widget :: Text Widget -->
                    <div class="widget_text widget widget__footer">
                        <h3 class="widget-title">{{ 'bottom.about_us' | trans | raw }}</h3>
                        <div class="widget-content">
                            {{ 'bottom.about_us_content' | trans | raw }}
                            <a href="{{ url('app_front_contact') }}" class="btn btn-primary">{{ 'bottom.read_more' | trans | raw }}</a>
                        </div>
                    </div>
                    <!-- /Widget :: Text Widget -->
                </div>
                <div class="col-md-3">
                    <!-- Widget :: Contacts Info -->
                    <div class="contacts-widget widget widget__footer">
                        <h3 class="widget-title">{{ 'bottom.contact_us' | trans | raw }}</h3>
                        <div class="widget-content">
                            <ul class="contacts-info-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <div class="info-item">
                                        {{ 'bottom.addresss' | trans | raw }}
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-facebook"></i>
                                    <div class="info-item">
                                        {{ 'bottom.facebook' | trans | raw }}
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <div class="info-item">
                                        {{ 'bottom.tel' | trans | raw }}<br>
                                        {{ 'bottom.fax' | trans | raw }}
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <div class="info-item">
                                        {{ 'bottom.email_dj' | trans | raw }}
                                        {{ 'bottom.email_brad' | trans | raw }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Widget :: Contacts Info -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    Copyright &copy; 2014  <a href="{{ url('app_front_homepage') }}">Makoto Global</a> &nbsp;| &nbsp;All Rights Reserved.
                </div>
                <div class="col-sm-6 col-md-8">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer / End -->

<script src="{{ asset('tpl/vendor/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/bootstrap.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery.flexnav.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery.hoverIntent.minified.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery.flickrfeed.js') }}"></script>
<script src="{{ asset('tpl/vendor/isotope/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/isotope/jquery.isotope.sloppy-masonry.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/isotope/jquery.imagesloaded.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('tpl/vendor/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery.fitvids.js') }}"></script>
<script src="{{ asset('tpl/vendor/jquery.appear.js') }}"></script>
<script src="{{ asset('tpl/js/custom.js') }}"></script>
<!-- UItoTop plugin -->
<script src="{{ asset('assets/back/js/easing.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/back/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
<!-- Starting the plugin -->
<script src="{{ asset('assets/roll/scrolld.min.js') }}"></script>
<!-- jQuery REVOLUTION Slider  -->
<script src="{{ asset('tpl/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
<script src="{{ asset('tpl/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<script type="text/javascript">
    $("[id*='Btn']").stop(true).on('click', function (e)
            {
                var target = e.target.id.replace('Btn' , '');

                if( $('#'+target).attr('id') == undefined )
                {
                    return ;
                }

                e.preventDefault();
                $(this).scrolld();
            }
    )
</script>

<script>
    $(function() {
        $('.description').readmore({
            speed: 75,
            maxHeight: 122
        });
    });
</script>
<script src="/Readmore.js/readmore.js"></script>

<script>
    jQuery(document).ready(function() {
        jQuery('.tp-banner').revolution({
            dottedOverlay:"filled",
            delay:6000,
            startwidth:1140,
            startheight:556,
            hideThumbs:10,
            fullWidth:"on",
            forceFullWidth:"on",
            hideCaptionAtLimit:480,
            //navigationType: "none",
            soloArrowLeftHOffset:20,
            soloArrowRightHOffset:20,
            navigationType:"bullet",
            navigationArrows:"solo", // nexttobullets, solo (old name verticalcentered), none
            navigationStyle:"round"  // round, square, navbar, round-old, square-old, navbar-old
        });
    });
</script>

</body>
</html>