
    {{ ld(user_message) }}

    <div class="container">

        <div class="col-md-12">
            <a href="{{ url }}">Login Weibo</a>
        </div>

        {#{% if ms['statuses'] is defined %}#}
        {#{% for message in ms['statuses'] %}#}
        {#<div class="row">#}

            {#<div class="col-md-4">#}
                {#<strong><img src="{{ message['user'].profile_image_url }}" />{{ message['user'].name }} :</strong>#}
            {#</div>#}

            {#<div class="col-md-8">#}
               {#{% if message['original_pic'] is defined and message['original_pic'] is not null %}#}

                   {#<img src="{{ message['original_pic'] }}" style="width: 150px;" />#}

               {#{% endif %}#}
               {#{{ message['text'] }}#}
            {#</div>#}
            {#<hr/>#}
        {#</div>#}
        {#{% endfor %}#}
        {#{% endif %}#}


    </div>
