<div class="row">

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.create_newsfeed') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Write a news</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.create_team') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="fa fa-user"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Add a team member</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.lesson_index') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-book"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Add new lesson</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.admin_content') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-pencil"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Edit WebSite Contents</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.list_newsfeed') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="fa fa-file-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Edit News</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.list_team') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="fa fa-users"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Edit Team Members</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('background_upload') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="fa fa-picture-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Update Background</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.lesson_list') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Manage Lesson's Materials</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.history_list') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Manage History's Line</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.create_case') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Create New Case</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.case_category') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Case Category</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.case_list') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>List All Cases</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('menu.case_load_data') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>Load Case Layouts</strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>


</div>